body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74acdf, #ffffff);
    text-align: center;
}

.titulo {
    margin: 20px;
    color: #0033a0;
}

.calendario {
    width: 350px;
    margin: auto;
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.calendario-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendario-info button {
    background: #74acdf;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.calendario-info button:hover {
    background: #0033a0;
    color: white;
}

.dias-semana, .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
}

.dias-semana div {
    font-weight: bold;
    color: #0033a0;
}

.dias div {
    padding: 10px;
    margin: 2px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.dias div:hover {
    background: #ddd;
}

/* Día actual */
.hoy {
    background: #74acdf;
    color: white;
}


.feriado {
    background: #ff4d4d;
    color: white;
}


.tooltip {
    visibility: hidden;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
}

.feriado:hover .tooltip {
    visibility: visible;
}